*-checkpoint*
*.pyc
*.root
*~
clas-ana-scaffold/
CheckBinning.ipynb
CheckingForOmegas.ipynb
Kinematics.ipynb
minMomCut_test_spring2019_in
MonteCarlo_inspection.ipynb
OutputProbing.ipynb
PurityFitExperimentation.ipynb
RefiningNeutronPeak.ipynb
SigExtraction.ipynb
test.py
TTree_inspection.ipynb
config/test_config.txt
logs/*.log
out/*
*.png